* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: sans-serif;
}
.container{
    
    border: 3px solid red;
    display: flex;
    flex-direction: column;

}
div.container div.box{
    color: white;
    padding: 30px;
    font-size: 35px;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 120px;
 }
div.container div.box-1{
    background-color: #0a1f5b;
    order: 1;
}
div.container div.box-2{
    background-color: #19a0c1;
    order: 5;
}
div.container div.box-3{
    background-color: #c9c16c;
    order: 2;
}
div.container div.box-4{
    background-color: #e2a151;
}
div.container div.box-5{
    background-color: #e25a0b;
   
}

