body {
    font-family: "Hind", sans-serif;
}

/*Phần Header*/
header {
    background-color: var(--bg-color);
    box-shadow: 0px 3px 9px 0px #0000000D;
    padding: 24px 0px;
}

header div.container {}

header nav.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navigation-bar a.main-logo {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: left;
}

nav.navigation-bar a.main-logo i {
    width: 32px;
    height: 22px;
    top: 24px;
    color: var(--primary-color);
}

nav.navigation-bar ul.main-menu {
    display: flex;
    gap: 24px;

}

a.menu-link::first-letter{

    text-transform: uppercase;
}
a.menu-link{
    display: inline-block;
}
nav.navigation-bar ul.main-menu li.menu-item a.menu-link:hover {
    color: var(--primary-color);
}

