/*Phần Bài viết tiêu điểm */
#hero-article {

}

#hero-article div.container {
    margin-bottom: 96px;
}

#hero-article div.container div.hero-article-wrapper {
    display: flex;

}

#hero-article div.container div.hero-article-info {}

#hero-article div.container div.hero-article-info-content {
    text-align: left;
    margin: 65px 15px;
}

#hero-article div.container div.hero-article-info-content a.category-label {
    width: 90px;
    color: var(--primary-color);
    padding: 5px 19.44px 5px 20px;
    border-radius: 15px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--btn-bg);
    padding: 5px 20px;
}

#hero-article div.container div.hero-article-info-content h1.hero-article-title {
    padding: 24px 0px 24px 0px;
    font-family: "Libre Baskerville", serif;
    color: var(--heading-color);
    Weight: 700;
    font-size: 45px;
}

#hero-article div.container div.hero-article-info-content p.hero-article-description {
    margin-right: 30px;
}

#hero-article div.container div.hero-article-image img.hero-article-thumb {
    border-radius: 15px;
}