@media screen and (max-width:768px){
    body {}

    header {
        padding: 22px 129px;
    }

    header nav.navigation-bar {
        display: flex;
    }
    /* Phần Danh mục nổi bật  */
    #featured-categories div.featured-categories-wrapper {
        padding:72px 129px; 
    }

    /* hero-article */
    section#hero-article {
        padding: 0px 129px;
    }
    #hero-article div.hero-article-wrapper {
        padding-top: 0px;
    }
    #hero-article div.container div.hero-article-info-content {

        margin: 0px;
    }
    #hero-article div.container div.hero-article-image img.hero-article-thumb {
        margin-top: 24px;
    }

    #featured-categories div.featured-categories-wrapper div.featured-category-item {
        width: calc((100% - 30px) / 2);

    }

    section#featured-categories {
        padding: 72px 15px;
    }

    div.featured-categories-wrapper {
        flex-wrap: wrap;
    }

    div.hero-article-wrapper {
        flex-direction: column;
    }

    /* top-pick-article */
    section#top-pick-article div.container{
        margin: 0px 129px 0px 129px;
    }
    #top-pick-article div.top-pick-article-wrapper {
        
    }
    #top-pick-article article.top-pick-article-item {
        width: calc((100% - 30px) / 2);
    }
  
    /* fashion-style-article */
    #fashion-style-article h2.fashion-style-article-heading {
        display: flex;
        justify-content: space-between;
        margin: 0px 15px 0px 15px;
        margin-bottom: 40px;
    }

    #fashion-style-article div.container div.fashion-style-article-wrapper {
        flex-direction: column;

    }

    #fashion-style-article article.fashion-style-article-item {
        width: calc(100% - 30px);
    }

    /* beauty-article */
    #beauty-article {
        padding: 99px 15px 0px 15px;
    }

    #beauty-article div.beauty-article-wrapper {
        flex-direction: column;
    }

    #beauty-article article.beauty-article-item {
        width: 100%;
        margin-right: 0px;
    }

    #beauty-article div.beauty-article-content {
        flex-direction: column;
    }

    #beauty-article img.beauty-article-thumb {
        width: 100%;
    }

    #beauty-article div.beauty-article-info {
        margin: 0px 0px 25px 25px;
    }

    /* trending-article */
    section#trending-article {
        padding: 96px 15px 96px 15px;
    }

    section#trending-article div.trending-article-wrapper {
        flex-direction: column;
    }

    section#trending-article article.trending-article-item {
        width: 100%;
    }

    section#trending-article div.trending-article-content {
        flex-direction: column;
    }

    section#trending-article div.container-fluid {
        margin: 0px;
    }

    section#trending-article img.trending-article-thumb {
        width: 100%;
    }

    section#trending-article h3.trending-article-title {
        margin-top: 0px;
    }

    section#trending-article div.trending-article-info {
        margin: 25px 0px 25px 25px;
        padding: 0px;
    }

    section#trending-article div.trending-article-info a.category-label {
        margin-bottom: 16px;
    }

    /* Form Subscribe  */
    section#subscribe div.subscribe-content {
        margin: 0px 15px 0px 15px;
        padding: 60px 30px;
    }

    section#subscribe form.subscribe-form {
        margin: 0px 30px 0px 30px;
    }

    section#subscribe input.subscribe-input-email {
        width: 100%;
        margin-top: 48px;
    }

    section#subscribe button.btn-subscribe {
        margin-top: 5px;
        width: 100%;
    }

    /* ----- Footer ---- */
    footer {
        padding: 64px 0px 69px 15px;
    }

    footer div.footer-wrapper {
        flex-direction: column;
    }
    footer div.footer-left {
        margin-bottom: 30px;
    }
    footer div.footer-right {
        width: 100%;
    }
    footer div.footer-right div.footer-right-content {
        
    }
    footer div.footer-right div.footer-list-wrapper {
        width: calc(100% / 2);
    }

}