* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: var(--primary-font);
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {

    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}