section#subscribe {
    padding: 96px 0px 96px 0px;

}

section#subscribe div.container {}

section#subscribe div.container div.subscribe-wrapper {}

section#subscribe div.subscribe-content {
    background-color: var(--bg-color);
    padding: 96px 0px 110px 0px;
    text-align: center;
}

section#subscribe div.subscribe-content h2.subscribe-heading {
    font-family: var(--heading-font);
    font-size: 26px;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: 9px;
}

section#subscribe h2>p.subscribe-description {
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 400;
}

section#subscribe h2>form.subscribe-form {}

section#subscribe input.subscribe-input-email {}

section#subscribe button.btn-subscribe {
top: 154.12px;
left: 514px;
padding: 13px 36px;
border-radius: 6px;
background-color: var(--primary-color);
color: var(--bg-color);
margin-top: 34px;

}