/* Phần bài viết nổi bật trong tháng */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

#top-pick-article {
    padding: 98px 0px 96px 0px;
    background-color: var(--bg-color);

}

#top-pick-article div.container {
    
}

#top-pick-article div.container h2.top-pick-article-heading {
    font-family: var(--heading-font);
    margin-bottom: 26px;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    font-weight: 700;
    text-align: left;
    color: var(--heading-color);
}

#top-pick-article div.top-pick-article-wrapper {
    display: flex;
    gap: 30px;
}

#top-pick-article article.top-pick-article-item {
    
}

#top-pick-article div.top-pick-article-content {
    background-color: black;
    border-radius: 15px;
    position: relative;
    margin-top: 24px;
}


#top-pick-article div.top-pick-article-content img.top-pick-article-thumb {
    border-radius: 15px;
    opacity: 60%;
}

#top-pick-article div.top-pick-article-content div.top-pick-article-info {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#top-pick-article div.top-pick-article-info h3.top-pick-article-title {
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 700;
    color: var(--bg-color);
}

#top-pick-article h3.top-pick-article-title a.top-pick-article-link {
   
}

#top-pick-article div.top-pick-article-info div.top-pick-article-meta {
    color: #EEEEEE;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 10px;
    margin-top: 13px;
}

#top-pick-article div.top-pick-article-meta img.top-pick-article-author-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0px;
    border: 2px solid #999999;

}

#top-pick-article div.top-pick-article-meta p.top-pick-article-author-name {}

#top-pick-article div.top-pick-article-meta span.top-pick-article-date {}