* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    color: #1D1D24;
}
header {
    background-color: #fff;
    padding: 18px 8px;
    text-align: center;  
}
header nav ul li{
    display: inline-block;
    margin-right: 34px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
header nav ul li:last-child{
    margin-right: 0;
}
header nav ul li a{
    text-decoration: none;
    color: inherit;
}
header nav ul li button.btn-contact{
    background-color: #FFFFFF;
    border: 2px solid #1D1D2480;
    margin-top: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 12px 27px;
    border-radius: 6px;
}
section.hero{
    background-color: #F8F9FC;
    padding: 150px 0px;
    text-align: center;
}
section.hero img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 14px solid #FFFFFF;
    vertical-align: middle;
}
section.hero div.info{
    display: inline-block;
    font-family: "Montserrat", sans-serif; 
    margin-left: 34px;
    text-align: left;
    vertical-align: middle;
}
section.hero div.info > span{
    font-size: 16px;
    text-align: left;
    font-family:"Poppins", sans-serif;
}
section.hero div.info h1.title, section.hero div.info h2{
    font-size: 58px;
    font-weight: 700; 
}
section.hero div.info h1 span{
    color: #F9004D;
}
section.portfolio{
    padding: 120px 105px;
    font-size: 0px;
}
section.portfolio h2{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #1D1D24;
    margin-bottom: 60px;
}
section.portfolio div.card{
    display: inline-block;
    margin-right: 34px;
    width: calc((100% - 68px)/3);
    margin-bottom: 60px;
    text-align: center;
    vertical-align: top;
}
section.portfolio div.card:nth-child(3n){
    margin-right: 0px;
}
section.portfolio div.card img{
    width: 100%;
    margin-bottom: 26px;
}
section.portfolio div.card span{
    font-size: 16px;
    font-weight: 400;
}
section.portfolio div.card h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 2px;
}
footer p{
    background-color: #00010C;
    font-family: "Poppins", sans-serif;
    padding: 31px 0px;
    color: #C6C9D8;
    text-align: center;
    font-size: 16px;
    font-weight: 400;   
}





