* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: sans-serif;
}
.container{
    border: 3px solid red;
    display: flex;
    max-width: 600px;
}
div.container div.box{
    color: white;
    padding: 30px;
    font-size: 35px;
    text-align: center;
    width: 100px;
    box-sizing: border-box;
    flex-grow: 1;

 }
div.container div.box-1{
    background-color: #0a1f5b;
    order: 1;
}
div.container div.box-2{
    background-color: #19a0c1;
    order: 5;
}


