* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: sans-serif;
}
.container{
    height: 400px;;
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline; 
}
div.container div.box{
    color: white;
    padding: 30px;
    font-size: 35px;
    text-align: center;
}
div.container div.box-1{
    background-color: #0a1f5b;
}
div.container div.box-2{
    background-color: #19a0c1;
}
div.container div.box-3{
    background-color: #c9c16c;
}
div.container div.box-4{
    background-color: #e2a151;
    font-size: 70px;
}
div.container div.box-5{
    background-color: #e25a0b;
    font-size: 100px;
}
div.container div.box-1{
    background-color: #0a1f5b;
    font-size: 70px;
}
div.container div.box-2{
    background-color: #19a0c1;
    font-size: 100px;
}
div.container div.box-3{
    background-color: #c9c16c;
}
