* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.slider{
    width: 100%;
    height: 500px;
    background-color: #0793E8;
    color: white;
    position: relative;
}
div.content{
    text-align: left;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);   
}
div.content h1{
    text-transform: uppercase;
    margin-bottom: 10px;
}
div.dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.dot {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
     cursor: pointer; 

 }
.active{
    cursor: pointer; 
    background-color: yellow;
 }